---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Information from '../components/Information.astro'
import PhotosSection from '@/components/PhotosSection.astro'
---

<Layout
	title='Gem and Jewelery'
	subtitle='Gem and Jewelery'
>
	<main>
		<Hero />
		<Information />
		<PhotosSection />
	</main>
</Layout>

<style>
	main {
	}
</style>
