---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout
	title='Gem and Jewelery'
	subtitle='Gem and Jewelery'
>
	<main></main>
</Layout>

<style>
	main {
	}
</style>
