---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Information from '../components/Information.astro'
import Services from '@/components/Services.astro'
---

<Layout
	title='Gem and Jewelery'
	subtitle='Gem and Jewelery'
>
	<main>
		<Hero />
		<Services />
		<Information />
	</main>
</Layout>

<style>
	main {
	}
</style>
