---
import Gmail from '@/icons/Gmail.astro'
import WhatsApp from '@/icons/WhatsApp.astro'
---

<footer class='bg-white rounded-sm shadow dark:bg-gray-900 w-full'>
    <div class='w-full max-w-screen-xl mx-auto p-4 md:py-8'>
        <div class='sm:flex sm:items-center sm:justify-between'>
            <div class='flex justify-center md:justify-start'>
                <a
                    href='#hero'
                    class='flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse'
                >
                    <img
                        src='/favicon.png'
                        class='h-8'
                        alt='Logo'
                    />
                    <span
                        class='self-center text-lg md:text-2xl font-semibold whitespace-nowrap dark:text-white'
                    >
                        American Gem & Jewelry Association
                    </span>
                </a>
            </div>
            <ul
                class='flex flex-wrap justify-center items-center gap-5 my-10 lg:mr-20 text-sm md:text-lg font-medium text-gray-500 sm:mb-0 dark:text-gray-400'
            >
                <li>
                    <a
                        href='https://wa.me/+19547012375?text=Hello%2C%20I%20would%20like%20to%20get%20more%20information%20about%20your%20appraisal%20services'
                        target='_blank'
                        rel='noopener noreferrer'
                        class='scroll-link hover:underline me-10 md:me-16'
                    >
                        <WhatsApp class='w-8 h-8' />
                    </a>
                </li>
                <li>
                    <a
                        href='https://www.instagram.com/sofiagandj?igsh=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr'
                        target='_blank'
                        rel='noopener noreferrer'
                        class='scroll-link hover:underline me-10 md:me-16'
                    >
                        <img
                            src='/icons/instagram.svg'
                            class='w-8 h-8'
                            alt='Instagram image'
                        />
                    </a>
                </li>
                <li>
                    <a
                        href='https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=CllgCJfrtMfCMKhqXqfWclnsDzxfSTMBvVrKPBZrpspcNCpzBQsvjZnbbKwpgcFLgDCrzwvcRCg'
                        target='_blank'
                        rel='noopener noreferrer'
                        class='hover:underline'
                    >
                        <Gmail class='-mt-6 sm:-mt-8 w-8 h-8' />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <hr class='my-3 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8' />
    <span class='block text-sm text-gray-500 sm:text-center dark:text-gray-400'>
        © 2024 <a
            href='https://flowbite.com/'
            class='hover:underline'
        >
            American Gem & Jewelry Association.
        </a>
    </span>
</footer>
