---
import Button from './Button.astro'
---

<section
    class='flex flex-col justify-center items-center text-center max-w-4xl'
>
    <img
        src='/favicon.png'
        alt='logo'
        class='h-36'
    />
    <h1 class='text-4xl text-white mb-5 mt-9'>
        American Gem & Jewelery Association
    </h1>
    <p class='text-lg text-white mb-14'>
        Over 25 Years of Crafting Exceptional Jewelry – Quality and Expertise
        You Can Trust
    </p>

    <img
        src='https://img.freepik.com/fotos-premium/joyas-anillo-boda-plata-lujo-caros-diamantes_63106-6912.jpg'
        alt='futuro video'
    />

    <div class='mt-20'>
        <Button
            text=' Quick view'
            textAfter='Shop now'
        />
    </div>
</section>
