---

---

<section
  class="bg-cover bg-[url('/local.webp')] bg-gray-700 bg-blend-multiply"
  id='aboutUs'
>
  <div class='px-4 mx-auto max-w-screen-xl text-center py-16 lg:py-16'>
    <h1
      class='mb-4 text-2xl tracking-tight leading-none text-white lg:text-5xl'
    >
      About us
    </h1>
    <p class='mb-4 text-md font-normal text-gray-300 lg:text-xl sm:px-10'>
      AG&JA is a company established by dedicated and passionate experts with
      more than 25 years of experience in the Gemology and Jewelry Industry.
    </p>
    <p class='mb-4 text-md font-normal text-gray-300 lg:text-xl sm:px-10'>
      Our GIA Graduate Gemologist proceeds applying scientific based tests
      combined with trained optic inclusion recognition and classification.
    </p>
    <p class='mb-4 text-md font-normal text-gray-300 lg:text-xl sm:px-10'>
      Our Accredited Jewelry Professional carefully identifies the metal used to
      manufacture the piece and values the craftsmanship employed in the whole
      process, from the designing to the final cleaning and polishing.
    </p>
    <p class='mb-4 text-md font-normal text-gray-300 lg:text-xl sm:px-10'>
      This report provides an opinion by AG&JA, and neither AG&JA’s original
      client nor any purchaser of the article shall rely on this report as a
      guarantee or warranty. Opinions provided by third-party laboratories may
      vary depending on when, how and by whom the article was examined.
    </p>
    <p class='mb-4 text-md font-normal text-gray-300 lg:text-xl sm:px-10'>
      Technologies employed in treatments, processing and synthesis are
      continuously evolving, and hence it may not always possible to determine
      the origin of the article using the then-latest available techniques.
    </p>
    <p class='mb-4 text-md font-normal text-gray-300 lg:text-xl sm:px-10'>
      Neither AG&JA nor any of its employees shall, at any time, be liable for
      any difference of opinion or discrepancy which may result from the
      application of other assessment and/or identification methods, tools or
      techniques.
    </p>
    <p
      class='mb-4 text-md font-normal text-gray-300 lg:text-xl sm:px-10 lg:px-32'
    >
      AG&JA has provided this report for a small fee compared to actual and
      potential value of the subject article and has no financial interest in
      the sale/purchase of the item described in this report.
    </p>
    <div
      class='flex flex-col mt-10 -mb-8 sm:flex-row sm:justify-center sm:space-y-0'
    >
      <a
        href='https://sofia.jewelershowcase.com/'
        target='_blank'
        rel='noopener noreferrer'
        class='inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400'
      >
        Learn more
      </a>
    </div>
  </div>
</section>
