---

---

<div class='py-10 px-5 bg-black'>
    <div class='grid grid-cols-1 md:grid-cols-4 gap-6 max-w-screen-xl mx-auto'>
        <!-- Item 1 -->
        <div class='text-white p-4 rounded-lg bg-black'>
            <img
                src='https://img.freepik.com/premium-photo/beautiful-luxury-gold-necklace-jewelry-stand-neck_94574-7166.jpg'
                alt='Necklace'
                class='rounded-t-lg w-full'
            />
            <h2 class='text-lg font-semibold mt-4 text-center'>
                Diamond's Haven
            </h2>
            <button
                class='mt-2 bg-amber-300 text-black py-2 px-4 rounded block mx-auto'
            >
                View Details
            </button>
        </div>
        <!-- Item 2 -->
        <div class='text-white p-4 rounded-lg bg-black'>
            <img
                src='earrings.jpg'
                alt='Rings'
                class='rounded-t-lg w-full'
            />
            <h2 class='text-lg font-semibold mt-4 text-center'>
                Best Summer Sale
            </h2>
            <button
                class='mt-2 bg-yellow-500 text-black py-2 px-4 rounded block mx-auto'
            >
                View Details
            </button>
        </div>
        <!-- Item 3 -->
        <div class='text-white p-4 rounded-lg bg-black'>
            <img
                src='diamondRing.jpg'
                alt='Necklaces'
                class='rounded-t-lg w-full'
            />
            <h2 class='text-lg font-semibold mt-4 text-center'>Necklaces</h2>
            <button
                class='mt-2 bg-yellow-500 text-black py-2 px-4 rounded block mx-auto'
            >
                View Details
            </button>
        </div>
        <!-- Item 4 -->
        <div class='text-white p-4 rounded-lg bg-black'>
            <img
                src='diamondRing1.png'
                alt='Ring Diamond'
                class='rounded-t-lg w-full'
            />
            <h2 class='text-lg font-semibold mt-4 text-center'>
                Diamond Chain
            </h2>
            <button
                class='mt-2 bg-yellow-500 text-black py-2 px-4 rounded block mx-auto'
            >
                View Details
            </button>
        </div>
    </div>
</div>
